.filters-container{
    display: flex;
    justify-content: space-between;
    padding-right:16px;
}
.product-sidebar{
    /* position: fixed; */
}
.filter-text{
    font-weight: bold;
}
.filter-clear{
    text-decoration: underline;
}
.category-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--secondary-color);
}
.category{
    padding-top: 16px;
}
.rating-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--secondary-color);
}
.rating{
    padding-top: 16px;
}
.sortby-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 8px;
}
.sortby{
    padding-top: 16px;
}
.filter-text{
    text-align: left;
}
.filter-clear{
    cursor: pointer;
}
.slider{
    /* width: 100%; */
}
.range-marker{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 